<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4>Cadastro de Clientes</h4>
            <p>Inclua clientes no sistema.</p>

            <div class="mb-3">
                <strong class="text-success">{{mensagemSucesso}}</strong>
                <strong class="text-danger">{{mensagemErro}}</strong>
            </div>

            <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label>Nome do cliente:</label>
                        <input type="text" class="form-control" placeholder="Digite aqui."
                            formControlName="nome"/>

                        <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                            <span *ngIf="f['nome'].errors && f['nome'].errors['required']">
                                Por favor, informe o nome do cliente.
                            </span>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <label>Email do cliente:</label>
                        <input type="text" class="form-control" placeholder="Digite aqui."
                            formControlName="email"/>

                        <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
                            <span *ngIf="f['email'].errors && f['email'].errors['required']">
                                Por favor, informe o email do cliente.
                            </span>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <label>Foto do cliente:</label>
                        <input type="file" class="form-control"
                            (change)="change($event)"/>
                        <div class="text-danger">
                            {{mensagemErroFoto}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <input type="submit" class="btn btn-success"
                            value="Realizar Cadastro"
                            [disabled]="form.invalid"/>


                        <a routerLink="/app/consulta-clientes"
                            class="btn btn-primary ms-2">
                            Consultar Clientes
                        </a>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>